
  
.container{
    margin: auto;
    background: #FFF;
    max-width: 1272px;
    flex-shrink: 0;


}
.header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #000;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.75rem;
    font-family: 'PollerOne', serif;
    padding-top: 3.125rem;
    padding-left: 4.6875rem;
    padding-right: 30rem;
    
}

.line{
    max-width: 75.75rem;
    height: 1px;
    flex-shrink: 0;
    background-color: #000;
    margin: auto;
}

.img{
    position: relative;

    max-width: 300px;
}
.imgPhoto{
    max-width: 200px;
    padding: 1rem;
}

.containerImg{
display: flex;
flex-direction: row;
gap: 1rem;
padding: 0 ;

}

.containerH2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.containerP{
    display: flex;
    flex-direction: column;
}
.containerBlocP{
    padding-top: 5rem;
}
.p1{
    font-family: 'JetBrainsMono', monospace;
    font-size: 1.25rem;
    color: #000000;
    line-height: 1.5625rem;
    
}
.p1P{
    font-weight: 800;
}
.p1M{
    padding-top: 2rem;
}
.p1L{
    line-height: 1.5625rem;
}
.menu{
    width: 100%;
    position: absolute;
    top: 0vh;
    left: 0;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(248, 248, 248, 1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.221);
    z-index: 1;
    transition: all 1s ease;
}
.menu.isActive{
    height: 30vh;
    opacity: 1;
}

.nav{
    display: flex;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    font-size: 2.25rem;
    gap: 13rem;
}

.close{
    position:absolute;
    top: 4rem;
    right: 4rem;
}
.svg{
    width: 2.125rem;
}
.svg:hover{
    transform:scale(.8);
}
.svg:active{
    transform:scale(1.1);
}

.logo{
    width: 100%;
    height: 100%;
    max-width: 9.9375rem;
    max-height: 15.0625rem;
}
.containerBlocIcon{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2rem;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    gap: 3rem;
}
.iconBloc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.iconBlocH1{
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 4.375rem;
    font-family: "PollerOne", serif;
    text-align: center;
    letter-spacing: 0.3rem;
}
.iconInd{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

@media screen and (max-width:640px) {
    .header{    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconBlocH1{
        font-size: 2rem;
        line-height: 2.5rem;
        padding-right: 2rem;
    }
    .iconInd{
        
        justify-content: center;
        
    }
    
    .title{
       font-size: 2rem;
       line-height: 2rem;
       padding: 1rem;
    }
    .btn{
        display: none;
    }
    .icon{
        display: none;
    }
    .logo{
        width: 100%;
        max-width: 100px;
    }

    .menu{
       display: none;
    }
    .containerMobile{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .contactMailMobile{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
        background-color: #FFF;
    }

    .contactBackMobile{
        background:linear-gradient(#fff,#e1e1e1 );;
        padding: 5rem 1rem 12rem 1rem;
        margin-top: 5rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        position:relative;
        width: 100%;
    }

    .contactBackMobile h2{
        font-size: 30px;
        margin-bottom: 3rem;
    }

    .contactBackMobileImg{
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translate(-50%);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .containerImgMobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .imgMobile{
        min-height: 25px;
        display: flex;
        gap: .5rem;
    }
    
    .imgMobile p{
        font-size: 12px;
        color: #727272;
    }
    .containerEmailMobile{
        font-size: 1.5625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .emailMobile{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid #000;
    }
    .emailContactMobile{
        display: block;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .img{
        max-width: 2.5rem;
    }
}
@media screen and (min-width: 768px) {
.title{
    font-size: 4rem;
    line-height: 4.75rem;  
}
.containerImg{
flex-direction: column;
gap: 0rem;
padding: 2.5rem 12rem 2.5rem 12rem ;
    }
    .imgPhoto{
        max-width: 100%;
        padding: 1rem;
    }
    .p1{
        
        font-size: 1.875rem;
       line-height: 2.4375rem;
        
    }
    .p1L{
        line-height: 40px;
    }
    .iconBlocH1{
        font-size: 90px;
        line-height: 108px;
        letter-spacing: 0.6rem;
    }
}

