.container{
    margin: auto;
    max-width: 1212px;
    background: #FFF;
    flex-shrink: 0;
    padding: 5rem 0 5rem 0;
  }

.font{
    font-family: 'JetBrainsMono', sans-serif;
  }
  .font2{
    font-family: 'PollerOne', sans-serif;
  }
  .clase {
    word-wrap: break-word;
}
  
  .gallery{
      position: relative;
      display: flex;
      gap: 1.875rem;
      width: 100%;
      padding-bottom: 1rem;
    }
    
    .gallery img{
      
      object-fit: cover;
      display: block;
    }
  
    
    .container-file img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .columnMedio{
      width: 50%;
    }
    
    .largeB{
      width: 100%;
      object-fit: cover;
    }
    .large{
      width: 100%;
      max-width: 36.875rem;
      object-fit: cover;
    }
    
  .small{
      width: 100%;
      max-width: 17.9375rem;
      
      object-fit: cover;
    }
    
    .normal{
      width: 100%;
      max-width: 36.875rem;
      display: flex;
      gap: 1rem;
      object-fit: cover;
    }
    
    
    .fileTercio{
      width: 33.33%;
    }
    
    .container-file-2-3{
      width: 66.66%;
    }
    
    .file{
      display: flex;
    
    }
    .loginBox {
      position: relative;
      display: flex;
      justify-content: center;
      margin:0 30% 0 30%;
      background: rgba(255, 255, 255, 0.987);
      padding: 8rem 0 8rem 0;
      
    }
    .loginBox .userBox {
      position: relative;
    }
    
    .loginBox .userBox input {
      width: 100%;
      padding: 10px 0;
      font-size: 36px;
      color: #000000;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #000000;
      outline: none;
      background: transparent;
    }
    
    .loginBox .userBox label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 26px;
      color: #000000;
      pointer-events: none;
      transition: .5s;
    }
    
    .loginBox .userBox h2 {
      position: absolute;
      top: -80px;
      left: 0;
      padding: 10px 0;
      font-size: 26px;
      color: #000000;
      pointer-events: none;
      transition: .5s;
    }
    .loginBox .userBox input:focus ~ label,
    .loginBox .userBox input:valid ~ label {
      top: -40px;
      left: 0;
      color: #bdb8b8;
      font-size: 16px;
    }
    
    .loginBox form a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #000000;
      font-size: 26px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px
    }
    
    .loginBox a:hover {
      background: #03f40f;
      color: #000000;
      border-radius: 5px;
      
    }
    
    .loginBox a span {
      position: absolute;
      display: block;
    }

    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    .loginBox a span:nth-child(1) {
      bottom: 2px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03f40f);
      animation: btn-anim1 2s linear infinite;
    }
.responsivePhoto{
    display: grid;
    gap: .5rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
    @media screen and (max-width:640px) {
    .containerMobile{
      width: 100vw;
      position: relative;
      display: flex;
      flex-direction: column;
      
    }
    .galleryMobile{
      position: relative;
      
    }
    .normalMobile{
      position: relative;
    }
    .smallMobile{
      position: relative;
      width: 100%;
      object-fit: cover;
      padding: 1.2rem 0 1.2rem 0;
    }
    
    }